In [1]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix('.txt').split('-')
name, age

('Abi', '10')

In [3]:
distance, stroke

('100m', 'Back')

In [4]:
import os

FOLDER = 'swimdata/'

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [5]:
first = files[0]
print(first)
name, age, _,_ = first.removesuffix('.txt').split('-')
name, age

Alison-14-100m-Free.txt

('Alison', '14')

In [6]:
import DBcm

db_details = "CoachDB.sqlite3"

In [7]:
SQL_INSERT = """
    insert into swimmers
        (name, age)
        values
        (?,?)
"""

In [8]:
# eintragen
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age))

In [22]:
SQL = """
    select * from swimmers
"""

In [23]:
# anlegen testen
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    result = db.fetchall()

result

[(122, 'Alison', 14),
 (123, 'Ruth', 13),
 (124, 'Tasmin', 15),
 (125, 'Blake', 15),
 (126, 'Maria', 9),
 (127, 'Katie', 9),
 (128, 'Darius', 13),
 (129, 'Erika', 15),
 (130, 'Katie', 9),
 (131, 'Lizzie', 14),
 (132, 'Mike', 15),
 (133, 'Lizzie', 14),
 (134, 'Emma', 13),
 (135, 'Carl', 15),
 (136, 'Ali', 12),
 (137, 'Tasmin', 15),
 (138, 'Katie', 9),
 (139, 'Calvin', 9),
 (140, 'Tasmin', 15),
 (141, 'Blake', 15),
 (142, 'Ruth', 13),
 (143, 'Tasmin', 15),
 (144, 'Dave', 17),
 (145, 'Chris', 17),
 (146, 'Hannah', 13),
 (147, 'Calvin', 9),
 (148, 'Erika', 15),
 (149, 'Ruth', 13),
 (150, 'Hannah', 13),
 (151, 'Abi', 10),
 (152, 'Darius', 13),
 (153, 'Katie', 9),
 (154, 'Owen', 15),
 (155, 'Bill', 18),
 (156, 'Elba', 14),
 (157, 'Aurora', 13),
 (158, 'Katie', 9),
 (159, 'Abi', 10),
 (160, 'Erika', 15),
 (161, 'Mike', 15),
 (162, 'Mike', 15),
 (163, 'Abi', 10),
 (164, 'Darius', 13),
 (165, 'Calvin', 9),
 (166, 'Darius', 13),
 (167, 'Mike', 15),
 (168, 'Abi', 10),
 (169, 'Dave', 17),
 (170, 'Katie', 9),
 (171, 'Emma', 13),
 (172, 'Alison', 14),
 (173, 'Bill', 18),
 (174, 'Abi', 10),
 (175, 'Ruth', 13),
 (176, 'Chris', 17),
 (177, 'Blake', 15),
 (178, 'Ali', 12),
 (179, 'Katie', 9),
 (180, 'Mike', 15),
 (181, 'Ruth', 13)]

In [27]:
SQL = """
    delete from swimmers
"""

In [28]:
# löschen testen
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    result = db.fetchall()

result

[]

In [31]:
## ganze swimmers Tabelle befüllen
import os

import DBcm

import os

db_details = "CoachDB.sqlite3"

FOLDER = 'swimdata/'

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from swimmers
        where name = ? and age = ?
"""


SQL_INSERT = """
    insert into swimmers
        (name, age)
        values
        (?,?)
"""

# eintragen
with DBcm.UseDatabase(db_details) as db:
    for file in files:
        name, age, _,_ = file.removesuffix('.txt').split('-')
        db.execute(SQL_SELECT, (name, age))
        if db.fetchall() :
            #print("doppelt")
            continue
        db.execute(SQL_INSERT, (name, age))

doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt

In [32]:
SQL = """
    select * from swimmers
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    result = db.fetchall()

result

[(182, 'Alison', 14),
 (183, 'Ruth', 13),
 (184, 'Tasmin', 15),
 (185, 'Blake', 15),
 (186, 'Maria', 9),
 (187, 'Katie', 9),
 (188, 'Darius', 13),
 (189, 'Erika', 15),
 (190, 'Lizzie', 14),
 (191, 'Mike', 15),
 (192, 'Emma', 13),
 (193, 'Carl', 15),
 (194, 'Ali', 12),
 (195, 'Calvin', 9),
 (196, 'Dave', 17),
 (197, 'Chris', 17),
 (198, 'Hannah', 13),
 (199, 'Abi', 10),
 (200, 'Owen', 15),
 (201, 'Bill', 18),
 (202, 'Elba', 14),
 (203, 'Aurora', 13)]

In [33]:
## ganze swimmers Tabelle befüllen
#import os

#import DBcm

#import os

#db_details = "CoachDB.sqlite3"

#FOLDER = 'swimdata/'

#files = os.listdir(FOLDER)
#files.remove(".DS_Store")

SQL_SELECT = """
    select * from events
        where distance = ? and stroke = ?
"""


SQL_INSERT = """
    insert into events
        (distance, stroke)
        values
        (?,?)
"""

# eintragen
with DBcm.UseDatabase(db_details) as db:
    for file in files:
        _,_,distance,stroke = file.removesuffix('.txt').split('-')
        db.execute(SQL_SELECT, (distance, stroke))
        if db.fetchall() :
            #print("doppelt")
            continue
        db.execute(SQL_INSERT, (distance, stroke))

doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt
doppelt

In [34]:
SQL = """
    select * from events
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    result = db.fetchall()

result

[(1, '100m', 'Free'),
 (2, '100m', 'Back'),
 (3, '50m', 'Free'),
 (4, '200m', 'Breast'),
 (5, '50m', 'Fly'),
 (6, '50m', 'Back'),
 (7, '200m', 'Back'),
 (8, '100m', 'Breast'),
 (9, '200m', 'IM'),
 (10, '200m', 'Free'),
 (11, '100m', 'Fly'),
 (12, '50m', 'Breast'),
 (13, '400m', 'Free')]